# Spring Boot / Maven Build Output
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Developer Secrets
.env
.env.local

# Database files
db/
*.mv.db
*.trace.db

# Logs
*.log
logs/

# IDE / System
.idea/
*.iml
.classpath
.project
.settings/
.metadata/
bin/
tmp/
.DS_Store
Thumbs.db
